<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


<% content_for :title, "Editing product" %>

<h1>Editing product</h1>

<div style="display:flex; flex-direction:column; align-items:center; justify-content:center; border:2px solid black;">

  <%= render "form", product: @product %>

  <br>

  <div class="btn-group">
    <button class="btn btn-warning"> <%= link_to "Show this product", @product %> </button>
    <button class="btn btn-success"> <%= link_to "Back to products", products_path %> </button>
  </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
