<div id="<%= dom_id customer %>">
  <div>
    <strong>Id:</strong>
    <%= customer.id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= customer.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= customer.email %>
  </div>

</div>
