<p style="color: green"><%= notice %></p>

<% content_for :title, "Customers" %>

<h1>BackListed Customers</h1>

#<%# @customers = @customers.blacklisted_customers  %>

<div id="customers">
  <% @customers.each do |customer| %>
    <%= render customer %>
    <p id="customer-btn">
      <%= link_to "Show this customer", customer %>
    </p>
    <hr>
  <% end %>
</div>

<p id="new-customer-btn">
  <%= link_to "New customer", new_customer_path %>
</p>